<markdown>{{ section1_0 }}</markdown>

<div class="live-example-preview">
  <app-basic-popover-example class="live-example"></app-basic-popover-example>
</div>

<markdown>{{ section1_1 }}</markdown>

<markdown>{{ section1_2 }}</markdown>

<div class="live-example-preview">
  <app-popover-classes-example class="live-example"></app-popover-classes-example>
</div>

<markdown>{{ section1_3 }}</markdown>

<markdown>{{ section2_0 }}</markdown>

<div class="live-example-preview">
  <app-popover-direction-example class="live-example"></app-popover-direction-example>
</div>

<markdown>{{ section2_1 }}</markdown>

<markdown>{{ section3_0 }}</markdown>

<div class="live-example-preview">
  <app-popover-direction-priority-example class="live-example"></app-popover-direction-priority-example>
</div>

<markdown>{{ section3_1 }}</markdown>

<markdown>{{ section4_0 }}</markdown>

<div class="live-example-preview">
  <app-popover-pin-priority-example class="live-example"></app-popover-pin-priority-example>
</div>

<markdown>{{ section4_1 }}</markdown>

<markdown>{{ section5_0 }}</markdown>

<div class="live-example-preview">
  <app-popover-actual-change-example class="live-example"></app-popover-actual-change-example>
</div>

<markdown>{{ section5_1 }}</markdown>

<markdown>{{ section6_0 }}</markdown>

<div class="live-example-preview">
  <app-popover-methods-example class="live-example"></app-popover-methods-example>
</div>

<markdown>{{ section6_1 }}</markdown>

<markdown>{{ section7_0 }}</markdown>

<div class="live-example-preview">
  <app-popover-animation-example class="live-example"></app-popover-animation-example>
</div>

<markdown>{{ section7_1 }}</markdown>

<markdown>{{ section8_0 }}</markdown>

<markdown>{{ section9_0 }}</markdown>
