<nav class="text-base space-y-2 flex flex-col items-stretch text-zinc-500 font-semibold">
  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/getting-started']" routerLinkActive="text-rose-500 font-semibold"
     class="hover:text-rose-500">
    Getting Started
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/accordion']" routerLinkActive="text-rose-500 font-semibold"
     class="hover:text-rose-500">
    Accordion
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/checkbox']" routerLinkActive="text-rose-500 font-semibold"
     class="hover:text-rose-500">
    Checkbox
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/overlay']" routerLinkActive="text-rose-500 font-semibold" class="hover:text-rose-500">
    Overlay
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/popover']" routerLinkActive="text-rose-500 font-semibold" class="hover:text-rose-500">
    Popover
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/radio-group']" routerLinkActive="text-rose-500 font-semibold"
     class="hover:text-rose-500">
    Radio Group
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/select']" routerLinkActive="text-rose-500 font-semibold" class="hover:text-rose-500">
    Select
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/switch']" routerLinkActive="text-rose-500 font-semibold" class="hover:text-rose-500">
    Switch
  </a>

  <a (click)="navigationClick.emit()" [routerLink]="['/doc/v17.0.0/tab-group']" routerLinkActive="text-rose-500 font-semibold"
     class="hover:text-rose-500">
    Tab Group
  </a>
</nav>
