<div class="w-full max-w-[500px] space-y-1 bg-white p-4 rounded-xl shadow-xl">
  @for (item of contents; track item.label) {
    <headwind-accordion #accordion [(opened)]="item.opened">
      <headwind-accordion-button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             [class.rotate-180]="accordion.opened"
             class="w-4 h-4 transition-transform">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>

        <div class="text-sm font-semibold">
          {{ item.label }}
        </div>
      </headwind-accordion-button>

      <div *headwindAccordionContent [@slide] class="p-4 text-sm text-zinc-500 overflow-hidden"
           [innerHTML]="item.content"></div>
    </headwind-accordion>
  }
</div>
