<app-page-header class="flex-[0_0_auto]">
  Press Kit
</app-page-header>

<div class="page-container narrow py-8 space-y-12 flex-[1_1_auto]">
  <div class="space-y-8">
    <div class="text-3xl font-bold">
      Branding
    </div>

    <div>
      <strong>Headwind UI</strong> is an official name of this library. Headwind is a name inspired by Tailwind and Headless UI.
    </div>
  </div>

  <div class="space-y-8">
    <div class="text-3xl font-bold">
      Logo
    </div>

    <div>
      Headwind UI used a free image for the brand's logo icon. Check out the original image at <a class="underline text-rose-500" href="https://www.freepik.com/free-vector/ocean-wave-logo-element-creative-water-clipart-business-vector-set_20775635.htm" target="_blank">rawpixel.com on Freepik</a>.
    </div>

    <div class="space-y-12">
      <app-icon-preview name="Icon Only" src="/assets/logo-icon.svg"></app-icon-preview>

      <app-icon-preview name="Full Logo" src="/assets/full-logo.svg"></app-icon-preview>
    </div>
  </div>
</div>

<app-footer class="mt-12 flex-[0_0_auto]"></app-footer>
