<markdown>{{ section1_0 }}</markdown>

<div class="live-example-preview">
  <app-basic-accordion-example class="live-example"></app-basic-accordion-example>
</div>

<markdown>{{ section1_1 }}</markdown>

<markdown>{{ section2_0 }}</markdown>

<div class="live-example-preview">
  <app-accordion-classes-example class="live-example"></app-accordion-classes-example>
</div>

<markdown>{{ section2_1 }}</markdown>

<markdown>{{ section2_2 }}</markdown>

<div class="live-example-preview">
  <app-accordion-opened-class-example class="live-example"></app-accordion-opened-class-example>
</div>

<markdown>{{ section2_3 }}</markdown>

<markdown>{{ section3_0 }}</markdown>

<div class="live-example-preview">
  <app-accordion-opened-state-example class="live-example"></app-accordion-opened-state-example>
</div>

<markdown>{{ section3_1 }}</markdown>

<markdown>{{ section4_0 }}</markdown>

<div class="live-example-preview">
  <app-accordion-methods-example class="live-example"></app-accordion-methods-example>
</div>

<markdown>{{ section4_1 }}</markdown>

<markdown>{{ section5_0 }}</markdown>

<div class="live-example-preview">
  <app-accordion-animation-example class="live-example"></app-accordion-animation-example>
</div>

<markdown>{{ section5_1 }}</markdown>

<markdown>{{ section6_0 }}</markdown>

<markdown>{{ section7_0 }}</markdown>
