<headwind-checkbox [(ngModel)]="checked" id="checkbox-1">
  <headwind-checkbox-button>
    <svg *headwindCheckboxChecked xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
         class="w-3 h-3 stroke-white">
      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
    </svg>
  </headwind-checkbox-button>

  <label for="checkbox-1">
    I {{ checked ? 'like' : 'don\'t like' }} Headwind UI
  </label>
</headwind-checkbox>
