<markdown>{{ section1_0 }}</markdown>

<div class="live-example-preview">
  <app-basic-radio-group-example class="live-example"></app-basic-radio-group-example>
</div>

<markdown>{{ section1_1 }}</markdown>

<markdown>{{ section2_0 }}</markdown>

<div class="live-example-preview">
  <app-radio-group-classes-example class="live-example"></app-radio-group-classes-example>
</div>

<markdown>{{ section2_1 }}</markdown>

<markdown>{{ section2_2 }}</markdown>

<div class="live-example-preview">
  <app-radio-group-selected-class-example class="live-example"></app-radio-group-selected-class-example>
</div>

<markdown>{{ section2_3 }}</markdown>

<markdown>{{ section2_4 }}</markdown>

<div class="live-example-preview">
  <app-radio-group-value-example class="live-example"></app-radio-group-value-example>
</div>

<markdown>{{ section2_5 }}</markdown>

<markdown>{{ section3_0 }}</markdown>

<div class="live-example-preview">
  <app-radio-group-model-binding-example class="live-example"></app-radio-group-model-binding-example>
</div>

<markdown>{{ section3_1 }}</markdown>

<markdown>{{ section4_0 }}</markdown>

<div class="live-example-preview">
  <app-radio-group-disabled-example class="live-example"></app-radio-group-disabled-example>
</div>

<markdown>{{ section4_1 }}</markdown>

<markdown>{{ section5_0 }}</markdown>

<div class="live-example-preview">
  <app-radio-group-animation-example class="live-example"></app-radio-group-animation-example>
</div>

<markdown>{{ section5_1 }}</markdown>

<markdown>{{ section6_0 }}</markdown>

<markdown>{{ section7_0 }}</markdown>
