<markdown>{{ section1_0 }}</markdown>

<div class="live-example-preview">
  <app-basic-switch-example class="live-example"></app-basic-switch-example>
</div>

<markdown>{{ section1_1 }}</markdown>

<markdown>{{ section2_0 }}</markdown>

<div class="live-example-preview">
  <app-switch-classes-example class="live-example"></app-switch-classes-example>
</div>

<markdown>{{ section2_1 }}</markdown>

<markdown>{{ section2_2 }}</markdown>

<div class="live-example-preview">
  <app-switch-checked-class-example class="live-example"></app-switch-checked-class-example>
</div>

<markdown>{{ section2_3 }}</markdown>

<markdown>{{ section3_0 }}</markdown>

<div class="live-example-preview">
  <app-switch-checked-state-example class="live-example"></app-switch-checked-state-example>
</div>

<markdown>{{ section3_1 }}</markdown>

<markdown>{{ section4_0 }}</markdown>

<div class="live-example-preview">
  <app-switch-methods-example class="live-example"></app-switch-methods-example>
</div>

<markdown>{{ section4_1 }}</markdown>

<markdown>{{ section5_0 }}</markdown>

<div class="live-example-preview">
  <app-switch-model-binding-example class="live-example"></app-switch-model-binding-example>
</div>

<markdown>{{ section5_1 }}</markdown>

<markdown>{{ section6_0 }}</markdown>

<div class="live-example-preview">
  <app-switch-disabled-state-example class="live-example"></app-switch-disabled-state-example>
</div>

<markdown>{{ section6_1 }}</markdown>

<markdown>{{ section7_0 }}</markdown>

<markdown>{{ section8_0 }}</markdown>
