.route-loading {
  animation: wiggle 1s infinite ease-in-out;
}

@keyframes wiggle {
  0% {
    left: 0;
    right: 100%;
  }

  50% {
    left: 0;
    right: 0;
  }

  100% {
    left: 100%;
    right: 0;
  }
}
