<headwind-tab-group [(tabKey)]="tabKey">
  <headwind-tab-button-group>
    @for (user of users; track user.name) {
      <headwind-tab-button [tabKey]="user.name">
        {{ user.name }}
      </headwind-tab-button>
    }
  </headwind-tab-button-group>

  <headwind-tab-content-group>
    @for (user of users; track user.name) {
      <div *headwindTabContent="{ tabKey: user.name }" class="p-4 space-y-6">
        <div class="flex items-center space-x-2">
          <img [alt]="user.name" [src]="user.avatarUrl" class="w-14 h-14 rounded-full object-cover bg-zinc-100" />

          <div>
            <div class="text-lg font-semibold">
              {{ user.name }}
            </div>

            <div class="text-sm text-zinc-500">
              {{ user.job }}
            </div>
          </div>
        </div>

        <div class="space-y-2">
          <div class="text-xs text-zinc-400">
            Biography
          </div>

          <div class="text-sm font-medium">
            {{ user.biography }}
          </div>
        </div>
      </div>
    }
  </headwind-tab-content-group>
</headwind-tab-group>
