<footer class="border-t border-t-zinc-200 py-8">
  <div class="page-container narrow flex flex-col items-center gap-4">
    <div class="md:flex-row flex-col flex items-center gap-4 text-sm font-semibold text-zinc-400">
      <a [routerLink]="['/press-kit']" class="hover:text-zinc-900 hover:underline">
        Press Kit
      </a>

      <a [routerLink]="['/versioning']" class="hover:text-zinc-900 hover:underline">
        Versioning
      </a>

      <a href="https://angular.io/" target="_blank" class="hover:text-zinc-900 hover:underline">
        Angular
      </a>

      <a href="https://tailwindcss.com/" target="_blank" class="hover:text-zinc-900 hover:underline">
        Tailwind
      </a>
    </div>

    <app-logo class="block h-8"></app-logo>

    <div class="text-xs text-zinc-400 font-semibold text-center">
      <a href="https://www.freepik.com/free-vector/ocean-wave-logo-element-creative-water-clipart-business-vector-set_20775635.htm" target="_blank" class="underline">Image by rawpixel.com</a> on Freepik
    </div>
  </div>
</footer>
