<div [class.rounded-b-none]="opened"
     class="absolute flex items-center justify-end top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[120px] h-6 bg-rose-500 rounded-md transition-colors">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor"
       [class.rotate-180]="opened"
       class="w-4 h-4 stroke-white absolute right-2">
    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
  </svg>
</div>

@if (opened) {
  <div [@growUp]="'show'" class="expandable absolute left-1/2 -translate-x-1/2 w-[120px] bg-rose-200 flex flex-col items-stretch gap-1 p-2 overflow-hidden">
    <div class="rounded-md h-4 bg-rose-50 shrink-0"></div>
    <div class="rounded-md h-4 bg-rose-50 shrink-0"></div>
    <div class="rounded-md h-4 bg-rose-50 shrink-0"></div>
    <div class="rounded-md h-4 bg-rose-50 shrink-0"></div>
  </div>
}
